In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
from pandas import DataFrame
import re

In [2]:
dr = webdriver.Chrome('/Users/joono/Downloads/chromedriver')
dr.implicitly_wait(1000)

In [3]:
name = []
rank = []
hs_class = []
species = []
cost = []
attack = []
life = []
abil = []

In [4]:
card = []
dr.get('http://hs.inven.co.kr/dataninfo/card/detail.php?code=68')
drt = dr.page_source
soup = BeautifulSoup(drt,'html.parser')
card.extend(soup.find_all('table'))
name1 = soup.find('h2',attrs = {'class' : 'title710BR1'})
name2 = str(name1).split('(')
name3 = name2[0].split('-')
name.append(name3[1].strip())
cardeffect = str(card[0])
cardtext = str(card[2]).split('\n')

In [5]:
con = re.compile('[가-힣0-9]+')
text = []
for i in cardtext:
    text.append(con.findall(i))
text.append(con.findall(cardeffect))

In [6]:
rank.append(text[8][1])
hs_class.append(text[11][1])
species.append(text[12][-1])
cost.append(text[16][1])
attack.append(text[19][1])
life.append(text[20][1])

In [7]:
dt = DataFrame({'Name': name, 'rank': rank, 'Hs_class': hs_class,
                'Species': species, 'Cost': cost, 'Attack': attack, 'Life': life})

In [9]:
dt

  Attack Cost Hs_class Life      Name Species rank
0      5    5       중립    5  가시덤불 호랑이      야수   일반